<!DOCTYPE html>
<html lang="es">

<head>
    <title>Integrante</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">

</head>

<body>
        {{> nav integrantes=integrantes base_url=base_url}}
        {{#each data}}
        <section class="text">
            <h1>{{nombre}} {{apellido}}</h1>
            <h2>{{titulo}}</h2>
            <p>{{parrafo}}</p>
            {{#if video}}
            <iframe class="video-youtube" width="660" height="655" src="{{ video }}" frameborder="0" allowfullscreen></iframe>
            {{else if html}}
                {{{html}}}
            {{else}}
                <img src="{{imagen}}" alt="{{alt}}">
            {{/if}}
        </section>
        {{/each}}

    
    <footer>
        {{> footer}}
    </footer>
</body>

</html>

