<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Tipos de Medio</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Listado de Tipos de Medio</h1>
    <section>
        {{#if message}}
        <div class="mensaje_error">
            <p>{{message}}</p>
        </div>
        {{/if}}

        <section class="Filtro">
        <h3>Filtrar Datos</h3>
        <form method="get" action="/admin/TipoMedio/listar">
            <label>ID</label>
            <input type="text" name="s[id]">

            <label>Tipo</label>
            <input type="text" name="s[tipo]">

            <input type="submit" value="filtrar"> 
        </form>
    </section>
        <table>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            {{#each tipoMedioItems}}
            <tr>
                <td><a href="/admin/TipoMedio/edit/{{this.id}}">{{this.id}}</a></td>
                <td>{{this.tipo}}</td>
                <td>{{this.descripcion}}</td>
                <td>{{this.esta_borrado}}</td>
                <td>
                    <form class="BnEliminar" action="{{base_url}}/admin/TipoMedio/delete/{{this.id}}" method="post">
                        <input type="submit" value="Eliminar">
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>
    </section>
    <a class="volver" href="/admin">Volver</a>
    <a class="Crearnuevo" href="/admin/TipoMedio/crear">Crear Nuevo</a>
<form class="logout" method="GET" action="/auth/logout">
    <button type="submit">Logout</button>
</form>
</body>
</html>
