<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Integrante</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Integrantes</h1>
    <h1>Crear un Integrante</h1>
    <section>
        {{#if mensaje}}
            <div class="mensaje_error">
                <p>{{mensaje}}</p>
            </div>
        {{/if}}
    </section>
    <section class="form_crear">
        <form action="/admin/Integrante/create" method="post">
            <fieldset>
                <legend>Integrante</legend>
                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text" value="{{datosForm.matricula}}" required>
                
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" value="{{datosForm.nombre}}" required>

                <label for="apellido">Apellido</label>
                <input id="apellido" name="apellido" type="text" value="{{datosForm.apellido}}" required>
                
                <label for="rol">Rol</label>
                <input id="rol" name="rol" type="text" value="{{datosForm.rol}}" required>

                <label for="codigo">Codigo</label>
                <input id="codigo" name="codigo" type="text" value="{{datosForm.codigo}}" required>

                <label for="url">Url</label>
                <input id="url" name="url" type="text" value="{{datosForm.url}}" required>

                <label for="esta_borrado">Estado</label>
                <select id="esta_borrado" name="esta_borrado">
                    <option value="0" {{#if (eq datosForm.esta_borrado "0")}}selected{{/if}}>Activo</option>
                    <option value="1" {{#if (eq datosForm.esta_borrado "1")}}selected{{/if}}>Inactivo</option>
                </select>
            </fieldset>
            <input type="submit" value="Crear">
        </form>
    </section>
    <a class="volver" href="/admin/Integrante/listar">Volver</a>
</body>
</html>
