<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Integrante</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Integrantes</h1>
    <h1>Editar el Integrante  {{integrante.id}}</h1>
    <section>
        {{#if mensaje}}
            <div class="mensaje_error">
                <p>{{mensaje}}</p>
            </div>
        {{/if}}
    </section>
    <section class="form_crear">
        <form action="/admin/Integrante/update/{{integrante.id}}" method="post">
            <fieldset>
                <label>ID</label>
                <input id="id" name="id" type="text" value="{{integrante.id}}" disabled>

                <legend>Integrante</legend>
                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text" value="{{integrante.matricula}}" disabled>
                
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" value="{{integrante.nombre}}" disabled>
                <input type="hidden" name="nombre" value="{{integrante.nombre}}">

                <label for="apellido">Apellido</label>
                <input id="apellido" name="apellido" type="text" value="{{integrante.apellido}}" disabled>
                
                <label for="rol">Rol</label>
                <input id="rol" name="rol" type="text" value="{{integrante.rol}}">

                <label for="codigo">Codigo</label>
                <input id="codigo" name="codigo" type="text" value="{{integrante.codigo}}">

                <label for="url">Url</label>
                <input id="url" name="url" type="text" value="{{integrante.url}}" required>

                <label for="esta_borrado">Estado</label>
                <select id="esta_borrado" name="esta_borrado">
                    <option value="0" {{#if (eq integrante.esta_borrado "0")}}selected{{/if}}>Activo</option>
                    <option value="1" {{#if (eq integrante.esta_borrado "1")}}selected{{/if}}>Inactivo</option>
                </select>
            </fieldset>
            <input type="submit" value="Actualizar">
        </form>
    </section>
    <a class="volver" href="/admin/Integrante/listar">Volver</a>
</body>
</html>

