<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body class="register">
    {{#if error}}
        <div class="error-message">{{error}}</div>
    {{/if}}
    <form method="post" action="/register">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario" placeholder="Ingrese su usuario" required>
        
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
        
        <label for="sysadmin">Sysadmin</label>
        <input type="checkbox" id="sysadmin" name="sysadmin">
        
        <label for="admin">Admin</label>
        <input type="checkbox" id="admin" name="admin">
        
        <input type="submit" value="Registrar">
    </form>
    <div class="links">
        <a class="volver" href="/auth/admin-logout">Volver</a>
    </div>
</body>
</html>

