p {
    margin: 0 auto 20px;
    
}
body{
    background-color:#d6d6d6;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.Imagen-tabla{
  max-width: 100%;
  height: 190px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-container iframe {
    width: 580px;
    height: 330px;
}
.text{
    text-align: center;
}
h1{
    text-align: center;
}
.panel-inicio{
    background-color: #b1b9cc;
    padding: 20px;
    border-radius: 10px;
}
.container{
    text-align:center;
}
.imagen{
    text-align: center;
}
.logo {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.video-youtube,.imagen_favorita,.dibujo{
    width: 800px;
    height: 700px;
}

/* Estilo para la lista */
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
}

/* Estilo para los enlaces */
a {
    color: #1d1d1d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.imagen-representativa,
.dibujo-propio{
    text-align: center;
}
.enlaces{
    text-align:center;
}
.iframe-container-j iframe {
    width: 780px;
    height: 450px;
}
/*------------------------------------------------------*/
/* css de curso.html */
/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Estilos para el contenedor de la barra de navegación */
  .container-navbar {
    background-color:#b1b9cc;
    padding: 10px;
  }

  /* Estilos para la barra de navegación */
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  /* Estilos para la lista de enlaces */
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Estilos para los enlaces */
  .navbar ul li {
    display: inline-block;
    margin-right: 10px;
  }

  .navbar ul li a {
    color: rgb(2, 1, 1);
    text-decoration: none;
  }

  .navbar ul li a:hover {
    color: #ccc;
  }

  /* Estilos para el contenedor principal */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Estilos para el título del curso */
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  /* Estilos para las secciones */
  section {
    margin-bottom: 20px;
  }

  /* Estilos para la descripción del curso */
  section.descripcion p {
    text-align: justify;
  }

  /* Estilos para la lista de objetivos del curso */
  section.objetivos ul {
    list-style-type: circle;
    padding-left: 20px;
  }

  /* Estilos para el plan de estudios */
  section.plan ul {
    list-style-type: none;
    padding-left: 20px;
  }

  section.plan ul li {
    margin-bottom: 5px;
  }

  section.plan ul li ul {
    list-style-type: disc;
    padding-left: 15px;
  }
  footer.pie-de-pagina {
    background-color:#b1b9cc; /* Change background color as needed */
    color: #000000; /* Change text color as needed */
    padding: 20px;
    text-align: center; /* Center the content */
    position: sticky; /* Make the footer sticky */
    bottom: 0; /* Position it at the bottom of the page */
    width: 100%; /* Span the full width of the page */
    z-index: 100; /* Ensure it stays on top of other elements */
  }
  
  .pie-de-pagina .informacion-general,
  .pie-de-pagina .enlaces {
    display: inline-block; /* Allow for side-by-side positioning */
    margin-bottom: 10px; /* Add some spacing between sections */
  }
  
  .pie-de-pagina .informacion-general h5 {
    margin-top: 0; /* Remove default top margin */
    margin-bottom: 10px; /* Add some spacing below the heading */
  }
  
  .pie-de-pagina .enlaces a {
    color: inherit; /* Inherit text color from footer */
    text-decoration: none; /* Remove default underline */
  }
  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
  }

  /*Tablas de integrantes,Tiposmedio.media*/
  table {
    width: 100%; /* Set table width to 100% of its container */
    border-collapse: collapse; /* Remove gaps between table cells */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border: 1px solid black; /* Add a black border around the table */
  }
  
  table th,
  table td {
    padding: 10px; /* Add some padding to table cells */
    border: 1px solid black; /* Add black borders to each table cell */
    text-align: left; /* Align text to the left */
  }
  
  table th {
    background-color: #f2f2f2; /* Light gray background for table headers */
    font-weight: bold; /* Make header text bold */
  }
  
  .Tabla_inicio {
    /* Existing styles remain the same for layout and spacing */
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .Tabla_inicio li {
    /* Existing styles remain the same for rounded corners, shadow, and transition */
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  
    /* New style for equal sizing */
    width: calc(100% / 3); /* Adjust the divisor for the number of elements per row */
    text-align: center; /* Maintain centered text within the element */
  }
  
  .Tabla_inicio li:hover {
    /* Existing style for hover background color */
    background-color: #e6e6e6;
  }
  
  .Tabla_inicio a {
    /* Existing styles remain the same for link appearance */
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .Crearnuevo {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
  }
  
  .Crearnuevo:hover {
    background-color: #3e8e41;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
  }
  
  .volver:hover {
    background-color: #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

.form_crear {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Más sombreado */
}

.form_crear fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form_crear legend {
    font-size: 1.8em; /* Tamaño de fuente ligeramente mayor */
    margin-bottom: 20px; /* Mayor espacio inferior */
    color: #333;
}

.form_crear label {
    display: block;
    margin: 15px 0; /* Mayor espacio vertical */
    font-weight: bold;
}

.form_crear input[type="text"],
.form_crear select {
    width: calc(100% - 20px); /* Ancho ajustado para tener espacio para el borde */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px; /* Bordes más redondeados */
}

.form_crear input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #04f00f; /* Azul más vibrante */
    color: #0c0404;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em; /* Tamaño de fuente ligeramente mayor */
    transition: background-color 0.3s; /* Transición suave en el cambio de color */
}

.form_crear input[type="submit"]:hover {
    background-color: #1be908; /* Color más oscuro al pasar el cursor */
}

.form_crear a {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #007bff;
    text-decoration: none;
}

.form_crear a:hover {
    text-decoration: underline;
}

.mensaje_error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4470e7; /* Rojo más intenso */
  color: #000000; /* Letras negras */
  padding: 20px; /* Mayor espacio de relleno */
  border-radius: 10px; /* Bordes más redondeados */
  margin-top: 20px; /* Espacio superior para separar del contenido superior */
  text-align: center;
  font-size: 20px; /* Tamaño de fuente un poco más grande */
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombreado más pronunciado */
}
.BnEliminar input[type="submit"] {
  background-color: red;
  color: black;
  border: none;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, background-color 0.2s;
}

.BnEliminar input[type="submit"]:hover {
  background-color: darkred;
  transform: scale(1.05);
}

.mensaje_exito {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4470e7; /* Rojo más intenso */
  color: #000000; /* Letras negras */
  padding: 20px; /* Mayor espacio de relleno */
  border-radius: 10px; /* Bordes más redondeados */
  margin-top: 20px; /* Espacio superior para separar del contenido superior */
  text-align: center;
  font-size: 20px; /* Tamaño de fuente un poco más grande */
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombreado más pronunciado */
}


/* General Styles for Form */
.Filtro {
  background-color:#e6e6e6;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  overflow: hidden;
}

.Filtro h3 {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-bottom: 10px;
}

/* Styles for Labels */
.Filtro label {
  font-weight: bold;
  margin-right: 5px;
  color: #202020;
}

/* Styles for Inputs */
.Filtro input[type="text"] {
  width: 100px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
  color: #333;
}

.Filtro input[type="text"]:focus {
  border-color: #007BFF;
  outline: none;
}

/* Styles for Submit Button */
.Filtro input[type="submit"] {
  padding: 5px 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Filtro input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Single Line Layout */
.Filtro form {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.Filtro label, 
.Filtro input[type="text"], 
.Filtro input[type="submit"] {
  margin-bottom: 0;
}
.logout {
  display: inline-block;
}

.logout button {
  background-color: #d9534f; /* Color rojo */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout button:hover {
  background-color: #c9302c; /* Color rojo más oscuro al pasar el mouse */
}

.login {
  background-color: #d6d6d6; /* Fondo gris */
  height: 100vh; /* Tamaño completo de la pantalla */
  display: flex; /* Mostrar elementos en fila */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-direction: column; /* Colocar los elementos en columna */
}

.login form {
  background-color: #d6d6d6; /* Fondo blanco */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.login input[type="text"],
.login input[type="password"],
.login input[type="submit"] {
  width: 100%; /* Ancho completo */
  margin-bottom: 10px; /* Espaciado inferior */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados */
  box-sizing: border-box; /* El tamaño incluye borde y relleno */
}

.login input[type="submit"] {
  background-color: #4CAF50; /* Fondo verde */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de flecha */
}

.login input[type="submit"]:hover {
  background-color: #45a049; /* Cambio de color al pasar el mouse */
}

.links-login {
  display: flex; /* Mostrar elementos en fila */
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 20px; /* Espaciado superior */
}

.links-login a {
  text-decoration: none; /* Sin subrayado */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  color: white; /* Texto blanco */
  margin: 0 10px; /* Espaciado horizontal */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.volver-login {
  background-color: #ff0000; /* Fondo rojo */
}

.volver-login:hover {
  background-color: #cc0000; /* Cambio de color al pasar el mouse */
}

.registrarse-login {
  background-color: #0000ff; /* Fondo azul */
}

.registrarse-login:hover {
  background-color: #0000cc; /* Cambio de color al pasar el mouse */
}

.register {
  background-color: #d6d6d6; /* Fondo gris */
  height: 100vh; /* Tamaño completo de la pantalla */
  display: flex; /* Mostrar elementos en fila */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-direction: column; /* Colocar los elementos en columna */
}

.register form {
  background-color: #d6d6d6; /* Fondo blanco */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.register label {
  display: block; /* Mostrar como bloque */
  margin-bottom: 5px; /* Espaciado inferior */
  font-weight: bold; /* Texto en negrita */
}

.register input[type="text"],
.register input[type="password"],
.register input[type="submit"] {
  width: 100%; /* Ancho completo */
  margin-bottom: 10px; /* Espaciado inferior */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados */
  box-sizing: border-box; /* El tamaño incluye borde y relleno */
}

.register input[type="submit"] {
  background-color: #4CAF50; /* Fondo verde */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de flecha */
}

.register input[type="submit"]:hover {
  background-color: #45a049; /* Cambio de color al pasar el mouse */
}

.links-register {
  display: flex; /* Mostrar elementos en fila */
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 20px; /* Espaciado superior */
}

.links-register a {
  text-decoration: none; /* Sin subrayado */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  color: white; /* Texto blanco */
  margin: 0 10px; /* Espaciado horizontal */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.volver-register {
  background-color: #ff0000; /* Fondo rojo */
}

.volver-register:hover {
  background-color: #cc0000; /* Cambio de color al pasar el mouse */
}
/* CSS para el mensaje de error en el formulario de login */
.login .error-message {
  background-color: #d6d6d6; /* Fondo rojo claro */
  border-left: 6px solid #f44336; /* Borde izquierdo rojo */
  color: #d8000c; /* Texto rojo oscuro */
  margin-bottom: 15px; /* Espaciado inferior */
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 14px; /* Tamaño de fuente */
  text-align: center; /* Alinear el texto al centro */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.error-message {
  color: red;
  background-color: #fdd;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

.success-message {
  color: green;
  background-color: #dfd;
  border: 1px solid green;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

/* Form styles within the .admin-auth class */
.admin-auth {
  display: flex; /* Arranges elements horizontally  */
  flex-direction: column; /* Stacks elements vertically  */
  align-items: center; /* Centers elements horizontally */
  width: 300px;
  margin: 0 auto; /* Centers form horizontally */
  width: 300px;
  margin: 0 auto; /* Centers form horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: fixed; /* Position relative to viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center with transform */
}


.admin-auth form label {
  margin-bottom: 5px;
  display: block;
}

.admin-auth form input[type="text"],
.admin-auth form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.admin-auth form input[type="submit"] {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-auth form input[type="submit"]:hover {
  background-color: #45A049; /* Green darker */
}

/* Error message styles within the .admin-auth class */
.admin-auth .error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

/* Login link styles within the .admin-auth class */
.admin-auth .links-login {
  text-align: center;
  margin-top: 20px;
}

.admin-auth .volver-login-admin {
  text-decoration: none;
  color: #000000;
  background-color: #fd0a0a;
}

.admin-auth .volver-login-admin:hover {
  color: #b93535;
}
